@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>City</h1>

<div class="container">
    <div class="form-group col-md-3">
        <h2>Forecast for the selected city</h2>
    </div>
</div>
