@model Shop.Models.Car.PictureViewModel

<div class="form-group row col-sm-4 offset-2">
    <div>@Model.PictureTitle</div>
    <div>@Model.PictureId</div>
    <img class="card-img-top" src="@Model.Picture" asp-append-version="true" />
</div>